- page_title _('ZentaoIntegration|Zentao issues')
- add_page_specific_style 'page_bundles/issues_list'

.js-zentao-issues-list{ data: { issues_fetch_path: project_integrations_zentao_issues_path(@project, format: :json),
                                page: params[:page],
                                initial_state: params[:state],
                                initial_sort_by: params[:sort],
                                project_full_path: @project.full_path,
                                issue_create_url: @project.zentao_integration.url,
                                empty_state_path: image_path('illustrations/issues.svg') } }
